In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

from IPython import display
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',154)

In [2]:
df = pd.read_csv('./vehicles.csv')

In [3]:
df.shape

(426880, 26)

### Drop Irrelevant Columns From Dataframe

In [4]:
df = df.drop(["id","url","region_url","VIN","image_url","county","lat","long"],axis=1)

In [5]:
df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,description,state,posting_date
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN

In [6]:
df.describe()

              price           year      odometer
count  4.268800e+05  425675.000000  4.224800e+05
mean   7.519903e+04    2011.235191  9.804333e+04
std    1.218228e+07       9.452120  2.138815e+05
min    0.000000e+00    1900.000000  0.000000e+00
25%    5.900000e+03    2008.000000  3.770400e+04
50%    1.395000e+04    2013.000000  8.554800e+04
75%    2.648575e+04    2017.000000  1.335425e+05
max    3.736929e+09    2022.000000  1.000000e+07

### Filter Dataset

In [7]:
filters = (df['odometer'] > 999) & (df['odometer'] < 250000) & (df['year'] >= 1965) & (df['year'] < 2021) & (df['price'] > 999) & (df['price'] < 100000) & (df['manufacturer'] != 'harley-davidson')

In [8]:
df = df[filters]

In [9]:
def cyl_to_int(c):
    if type(c) is str and c != 'other':
        return int(c.split(' ')[0])
    else:
        return None

In [10]:
df['cylinders'] = df['cylinders'].apply(cyl_to_int)

In [12]:
def make_model(make,modl):
    if make and modl:
        modstr = str(modl).split(" ")
        if len(modstr) > 1:
            result = str(make) + " " + modstr[0] + " " + modstr[1]
        else:
            result = str(make) + " " + modstr[0]  
        return result.capitalize()
    else:
        return None

In [13]:
df['make_model'] = df.apply(lambda row : make_model(row['manufacturer'],row['model']), axis = 1)

### Drop Rows With Missing Values for Key Columns

In [14]:
df2 = df.copy()
df2 = df2.dropna(how='any',axis=0,subset=['make_model','manufacturer','odometer','year','price','title_status'])

In [15]:
df3 = df2[['price','manufacturer','condition','cylinders','fuel','odometer','state','type',
          'title_status','transmission','drive','size','paint_color','year','make_model']]

In [16]:
nans = (df3.isnull().sum())

In [17]:
nans

price                0
manufacturer         0
condition       130432
cylinders       141429
fuel              1496
odometer             0
state                0
type             70309
title_status         0
transmission      1330
drive           100760
size            245568
paint_color      93062
year                 0
make_model           0
dtype: int64

### Impute Missing Values for Remaining Columns

In [18]:
fill_mode = lambda col: col.fillna(col.mode()[0])

df3 = df3.apply(fill_mode, axis=0)

In [19]:
df3 = df3.groupby('make_model').filter(lambda x : len(x)>25)     # drop entries with less than 25 items for 'make_model'

In [20]:
torep = ['Ford f150','Ford f250','Ford f350','Bmw 3','Bmw 5','Bmw 6','Ford f250 super','Ford super duty','Chevrolet silverado 2500hd','Chevrolet silverado','Ford f-250 super','Ford f150 xlt','Ford f150 super','Ram nan','Gmc sierra 2500hd ']
vals = ['Ford f-150','Ford f-250','Ford f-350','Bmw 3 series','Bmw 5 series','Bmw 6 series','Ford f-250 supercrew','Ford f-250','Chevrolet silverado 2500','Chevrolet silverado 1500','Ford f-250 supercrew','Ford f-150','Ford f-150 supercrew','Ram 1500','Gmc sierra 2500']

In [21]:
df3['make_model'].replace(to_replace=torep,value=vals,inplace=True)    # Clean up make_model values

In [22]:
df3['make_model'].value_counts().head()

Chevrolet silverado 1500    9899
Ford f-150                  8343
Ford f-250                  4407
Ram 1500                    4159
Gmc sierra 1500             3618
Name: make_model, dtype: int64

In [23]:
df_fit = df3.copy()

### Create Dummies for Categorical Variables

In [24]:
cat_df = df_fit.select_dtypes(include='object') 
#Create a copy of the dataframe
cat_df_copy = cat_df.copy()
#Pull a list of the column names of the categorical variables
cat_cols_lst = cat_df.columns

def create_dummy_df(df, cat_cols, dummy_na):
    for col in cat_cols:
        try:
            # for each cat add dummy var, drop original column
            df = pd.concat([df.drop(col, axis=1), pd.get_dummies(df[col], prefix=col, prefix_sep='_', drop_first=True, dummy_na=dummy_na)], axis=1)
        except:
            continue
    return df

In [25]:
df_fit.shape

(309402, 15)

### Fit Linear Model

In [26]:
def fit_linear_mod(df, response_col, cat_cols, dummy_na, test_size=.3, rand_state=4):

    #Dummy categorical variables
    df = create_dummy_df(df, cat_cols, dummy_na)
    
    #Split into explanatory and response variables
    X = df.drop(response_col, axis=1)
    y = df[response_col]

    #Split into train and test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=rand_state)

    lm_model = LinearRegression(normalize=True) # Instantiate
    lm_model.fit(X_train, y_train) #Fit

    #Predict using model
    y_test_preds = lm_model.predict(X_test)
    y_train_preds = lm_model.predict(X_train)

    #Score using model
    test_score = r2_score(y_test, y_test_preds)
    train_score = r2_score(y_train, y_train_preds)
    mean_abs_err = mean_absolute_error(y_test, y_test_preds)

    return mean_abs_err, test_score, train_score, lm_model, X_train, X_test, y_train, y_test

#Test function using dataset
err, test_score, train_score, lm_model, X_train, X_test, y_train, y_test = fit_linear_mod(df_fit, 'price', cat_cols_lst, dummy_na=False)

### Price Model Results

In [27]:
print('Mean Absolute Error:', round(err,2))
print("Rsquared score-training data: ", round(train_score,5))
print("Rsquared score-test data: ", round(test_score,5))

Mean Absolute Error: 3899.24
Rsquared score-training data:  0.81503
Rsquared score-test data:  0.81267